<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="dev.droiduse.permission.EXECUTE" android:protectionLevel="signature" />
    <queries><package android:name="dev.droiduse.assistant" /></queries>
    <application android:label="DroidUse 执行服务" android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules">
        <service android:name=".ExecutorService" android:exported="true" android:permission="dev.droiduse.permission.EXECUTE" />
    </application>
</manifest>
